*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6;
  font-size: 11px;
  font-size: 1.1rem; }
  @media (min-width: 551px) {
    body {
      font-size: 12px;
      font-size: 1.2rem; } }

@media (max-width: 550px) {
  .sp_no {
    display: none; } }
@media (min-width: 551px) {
  .pc_no {
    display: none; } }
img {
  max-width: 100%; }

.container {
  background: #f9f8f6;
  padding: 0 10px; }

#header {
  margin-top: 10px;
  position: relative; }
  #header .header_sp {
    text-align: center;
    margin: 15px 0 5px 0; }
  #header #sp_menu {
    text-align: center;
    margin-bottom: 10px; }
    #header #sp_menu img {
      margin: 0 5px; }
    #header #sp_menu .sp_navi {
      display: none;
      width: 180px;
      position: absolute;
      right: 2%;
      border: 1px solid #eee;
      background: white;
      margin: 0;
      padding: 0;
      z-index: 99; }
      #header #sp_menu .sp_navi li {
        list-style: none;
        margin: 0;
        padding: 0; }
        #header #sp_menu .sp_navi li a {
          display: block;
          padding: 10px 8px;
          border-bottom: 1px solid #eee;
          font-size: 14px;
          text-decoration: none; }
  #header .header_pc {
    margin: 20px 0; }
    #header .header_pc img {
      width: 141px; }
  #header #pc_menu {
    position: absolute;
    bottom: 0;
    right: 0; }
    #header #pc_menu ul {
      margin: 20px 0;
      list-style: none; }
      #header #pc_menu ul li {
        display: inline-block;
        padding: 0 .5em; }

#main .breadcrumbs {
  background: #e8e4da;
  color: #887f69;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 11px;
  font-size: 1.1rem; }
#main .owl-dots {
  margin-top: 5px;
  text-align: left; }
  #main .owl-dots span {
    width: 20px;
    height: 2px;
    border-radius: 0; }
  #main .owl-dots .owl-dot:first-child span {
    margin-left: 0; }
#main .banner {
  margin-bottom: 10px; }
#main .products {
  background: #fff;
  margin: 0 -10px;
  padding: 20px 10px; }
  @media (min-width: 551px) {
    #main .products {
      margin: 0;
      padding: 20px 50px 60px 50px; } }
  #main .products .p_title {
    display: flex;
    position: relative; }
    @media (max-width: 550px) {
      #main .products .p_title {
        flex-direction: column; } }
    #main .products .p_title .products_title {
      font-size: 14px;
      font-size: 1.4rem;
      font-weight: bold;
      margin-bottom: 0;
      text-align: left; }
    #main .products .p_title .products_number {
      font-size: 10px;
      font-size: 1rem;
      color: #a6a6a6; }
      @media (min-width: 551px) {
        #main .products .p_title .products_number {
          position: absolute;
          right: 0;
          bottom: 0; } }
  #main .products .products_img {
    display: flex;
    margin: 20px 0 10px 0;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #e8e4da;
    border-bottom: 1px solid #e8e4da; }
    @media (max-width: 550px) {
      #main .products .products_img {
        margin: 10px 0;
        flex-direction: column; } }
    #main .products .products_img #display_img {
      width: 100%; }
      @media (min-width: 551px) {
        #main .products .products_img #display_img {
          flex: 5 5 40px; } }
      #main .products .products_img #display_img img {
        width: 100%; }
    #main .products .products_img .list_box {
      width: 100%; }
      @media (min-width: 551px) {
        #main .products .products_img .list_box {
          flex: 2 2 10px;
          margin-left: 10px; } }
    #main .products .products_img #list_img {
      list-style: none;
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      #main .products .products_img #list_img li {
        margin-bottom: 5px;
        line-height: 0;
        width: calc( ( 100% - 20px ) / 5 ); }
        @media (min-width: 551px) {
          #main .products .products_img #list_img li {
            margin-bottom: 10px;
            width: calc( 50% - 5px ); } }
        #main .products .products_img #list_img li img {
          max-width: 100%;
          cursor: pointer; }
  #main .products .detail {
    padding-top: 10px; }
    #main .products .detail .color {
      margin-top: 10px;
      width: 100%;
      margin-bottom: 10px; }
      @media (min-width: 551px) {
        #main .products .detail .color {
          margin-bottom: 20px; } }
      #main .products .detail .color th, #main .products .detail .color td {
        border: 1px solid #e8e4da;
        border-collapse: collapse;
        padding: 5px; }
      #main .products .detail .color th {
        background: #f9f8f6;
        color: #887f69;
        text-align: center;
        font-weight: normal; }
      #main .products .detail .color td {
        text-align: center; }
        #main .products .detail .color td input {
          display: block;
          margin: 0 auto; }
    #main .products .detail .detail_box {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      @media (min-width: 551px) {
        #main .products .detail .detail_box {
          border-bottom: 1px solid #e8e4da; } }
      #main .products .detail .detail_box .p_q {
        width: 100%;
        border-bottom: 1px solid #e8e4da;
        margin-bottom: 10px; }
        @media (min-width: 551px) {
          #main .products .detail .detail_box .p_q {
            width: calc(100% - 245px);
            border-bottom: none; } }
        #main .products .detail .detail_box .p_q tr {
          border-top: 1px solid #e8e4da; }
          #main .products .detail .detail_box .p_q tr th {
            border-bottom: none; }
        #main .products .detail .detail_box .p_q td {
          border-bottom: none;
          padding: 10px;
          font-size: 14px;
          font-size: 1.4rem; }
          #main .products .detail .detail_box .p_q td .price {
            display: inline-block;
            font-style: italic;
            color: #e80f66;
            font-size: 22px;
            font-size: 2.2rem; }
            #main .products .detail .detail_box .p_q td .price:first-letter {
              font-size: 14px;
              font-size: 1.4rem; }
      #main .products .detail .detail_box input {
        border-radius: 0;
        padding: 0;
        margin: 0; }
      #main .products .detail .detail_box .add {
        width: 100%; }
        @media (min-width: 551px) {
          #main .products .detail .detail_box .add {
            width: 225px; } }
        #main .products .detail .detail_box .add img {
          display: block;
          margin: 0 auto; }
          @media (min-width: 551px) {
            #main .products .detail .detail_box .add img {
              display: inline; } }
  #main .products h3 {
    margin-top: 30px;
    padding: 10px 0;
    color: #887f69;
    font-weight: bold;
    border-bottom: 1px solid #887f69;
    font-size: 16px;
    font-size: 1.6rem; }
  #main .products h4 {
    color: #887f69;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 10px; }
  #main .products .setsumei {
    margin-top: 10px;
    font-size: 14px;
    font-size: 1.4rem; }
  #main .products .color {
    margin: 10px 0;
    width: 100%; }
    #main .products .color th, #main .products .color td {
      border: 1px solid #e8e4da;
      border-collapse: collapse;
      padding: 5px;
      font-size: 12px;
      font-size: 1.2rem; }
    #main .products .color th {
      background: #f9f8f6;
      color: #887f69;
      text-align: center;
      font-weight: normal;
      padding: 10px; }
    #main .products .color td {
      color: #887f69;
      padding: 10px; }
#main h2 {
  text-align: center;
  margin-bottom: 10px; }
#main .new_items_img {
  width: 97px; }
#main .popular_img {
  width: 138px; }
#main .guide_img {
  width: 151px; }
#main .new_items, #main .popular_items, #main .item_list, #main .recent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  #main .new_items .item_list_box, #main .popular_items .item_list_box, #main .item_list .item_list_box, #main .recent .item_list_box {
    width: calc( (100% - 2px) / 2 );
    background: #fff;
    box-sizing: border-box;
    padding: 10px; }
    #main .new_items .item_list_box:nth-child(n+3), #main .popular_items .item_list_box:nth-child(n+3), #main .item_list .item_list_box:nth-child(n+3), #main .recent .item_list_box:nth-child(n+3) {
      margin-top: 2px; }
    @media (min-width: 551px) {
      #main .new_items .item_list_box, #main .popular_items .item_list_box, #main .item_list .item_list_box, #main .recent .item_list_box {
        width: calc( (100% - 4px) / 3 );
        margin-top: 2px; } }
    #main .new_items .item_list_box img, #main .popular_items .item_list_box img, #main .item_list .item_list_box img, #main .recent .item_list_box img {
      max-width: 100%; }
    #main .new_items .item_list_box p, #main .popular_items .item_list_box p, #main .item_list .item_list_box p, #main .recent .item_list_box p {
      margin-bottom: 10px; }
#main .navi {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }
  #main .navi .navi_button {
    width: 120px;
    background: #887f69;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px; }
@media (min-width: 551px) {
  #main .shopping_guide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; } }
#main .shopping_guide .guide_box {
  background: #fff;
  padding: 20px;
  margin-bottom: 3px; }
  @media (min-width: 551px) {
    #main .shopping_guide .guide_box {
      width: calc( (100% - 2px) / 2 ); } }
  #main .shopping_guide .guide_box h3 {
    color: #887f69;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold; }
  #main .shopping_guide .guide_box h4 {
    color: #887f69;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 0; }
  #main .shopping_guide .guide_box p {
    font-size: 12px;
    font-size: 1.2rem;
    margin-bottom: 1rem; }
  #main .shopping_guide .guide_box img {
    max-width: 100%; }

#sidebar .search {
  margin: 10px 0;
  background: #fff;
  padding: 10px; }
  @media (min-width: 551px) {
    #sidebar .search {
      margin-top: 0; } }
  #sidebar .search .searchbox {
    position: relative;
    margin: 10px 0; }
    #sidebar .search .searchbox input {
      width: 100%;
      margin-bottom: 0;
      border: 0;
      border-radius: 0;
      background-color: #eee;
      color: #b5b5b5;
      font-style: italic; }
    #sidebar .search .searchbox img {
      position: absolute;
      top: 10px;
      right: 10px; }
#sidebar h3 {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 0 0;
  padding: 1em;
  background: #887f69;
  font-size: 12px;
  font-size: 1.2rem;
  color: #fff; }
#sidebar #side_categories, #sidebar #side_pagelink {
  cursor: pointer; }
#sidebar .categories, #sidebar .pagelink {
  display: none;
  list-style: none;
  margin-bottom: 10px; }
  #sidebar .categories li, #sidebar .pagelink li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    padding: 1em;
    font-size: 12px;
    font-size: 1.2rem;
    background: #fff; }
#sidebar .side_box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background: #fff; }
  @media (min-width: 551px) {
    #sidebar .side_box {
      flex-direction: column; } }
  #sidebar .side_box div {
    width: calc( (100% - 10px) / 2 );
    font-size: 12px;
    font-size: 1.2rem; }
    @media (min-width: 551px) {
      #sidebar .side_box div {
        width: 100%; } }
    #sidebar .side_box div .btn {
      margin-top: 10px;
      max-width: 100%; }
      @media (min-width: 551px) {
        #sidebar .side_box div .btn {
          display: block;
          margin: 0 auto;
          padding: 1em; } }

#footer .page_top {
  padding: 20px;
  text-align: center; }
  @media (min-width: 551px) {
    #footer .page_top {
      text-align: right;
      padding-right: 0; } }
#footer .footer_menu {
  border-top: 1px #b8b4ac solid; }
  #footer .footer_menu ul {
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    padding-top: 1em; }
    @media (min-width: 551px) {
      #footer .footer_menu ul {
        padding-top: 2em; } }
    #footer .footer_menu ul li {
      display: inline-block;
      font-size: 11px;
      font-size: 1.1rem; }
#footer .copy_right {
  font-size: 10px;
  font-size: 1rem;
  color: #b8b4ac;
  text-align: center;
  padding-bottom: 2em;
  margin-bottom: 70px; }

/*# sourceMappingURL=style.css.map */
